SUITECRM_URL=https://suitecrm-old.xiliumonline.net
SUITECRM_USERNAME=xiliumadmin
SUITECRM_PASSWORD=your_password_here
CLIENT_ID=your_client_id
CLIENT_SECRET=your_client_secret
OPENAI_API_KEY=your_openai_api_key

MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=
MYSQL_DATABASE=crm_analytics

PORT=3001
